{% extends 'layout.html' %}

{% block main %}
<div class="col-lg-7 col-md-7 fl main_left" style='margin-left: 4%;'>
  {% for content in contents %}
    <div style='min-height: 170px;width: 100%;background-color: #fff;margin-bottom: 20px;'>
      <div class="articleTitle">{{content.title}}</div>
      <div class="articleInfo">
        <div class='articleUser'>
          <span>作者:</span>
          <text>{{content.user.username}}</text>&nbsp;
          <span>时间:</span>
          <text>{{content.addTime|date('Y/m/d H:m:s', -9*60)}}</text>&nbsp;
          <span>阅读:</span>
          <text>{{content.views}}</text>&nbsp;
          <span>评论:</span>
          <text>10</text>
        </div>
        <p class='articleDesc'>
          {{content.desc}}
        </p>
        <div class='readArticle'>
          <button>
            <a href='/view?contentId={{content.id}}'>阅读全文</a>
          </button>
        </div>
      </div>
    </div>
  {% endfor %}
  
  <p class='pagination'>
    <span class='lastPage fl' data-disabled={% if Number(pagination.currentPage) === 1 %}true{% else %}false{% endif %} >{% if Number(pagination.currentPage) === 1 %}没有上一页了{% else %}上一页{% endif %}</span>
    {% if pagination.pages %}
    <span class='currentPage'>{{pagination.currentPage}}/{{pagination.pages}}</span>
    {% endif %}
    <span class='nextPage fr' data-disabled={% if Number(pagination.currentPage) === Number(pagination.pages) %}true{% else %}false{% endif %}>{% if Number(pagination.currentPage) === Number(pagination.pages) || Number(pagination.pages) === 0 %}没有下一页了{% else %}下一页{% endif %}</span></p>
</div>
{% endblock %}